langgraph
langchain
langchain_google_genai
langchain_pinecone
langchain_community
langchain_huggingface
fastapi
uvicorn
pydantic
pinecone-client
pypdf2
python-dotenv
sentence-transformers
torch
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
httpx
psycopg2-binary
sqlalchemy
requests
python-dateutil